* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: var(--tg-theme-text-color);
    user-select: none !important;
}

body {
    background-color: var(--tg-theme-bg-color);
}

.category {
    padding: 5px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center; 
    text-decoration: underline;
}

.container {
    max-width: 100%;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#inner_fortnite {
    grid-template-rows: 300px 300px;
}

#inner_discord {
    grid-template-rows: 275px 275px;
}

.item {
    text-align: center;
}

.img_wrapper {
    display: inline-block;
    position: relative;
    text-align: center;
}

.img {
    border: none;
    border-radius: 12px;
}

.name {
    position: absolute;
    bottom: 5px;
    color: var(--tg-theme-text-color);
    -webkit-text-stroke: .5px var(--tg-theme-bg-color);
    width: 100%;
    height: 25px;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
}

.price {
    color: var(--tg-theme-text-color);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 130px;
    margin: auto;
}

.btn {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    height: 35px;
    width: 130px;
    position: relative;
}

.btn.plus, .btn.minus {
    display: none;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    color: var(--tg-theme-button-text-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.btn.minus {
    margin-right: auto;
}

.btn.plus {
    margin-left: auto;
}

.btn.active {
    transition: all .8s;
    content: "";
    width: 50px;
    background-color: rgba(0, 0, 0, .1);
}

@keyframes expand {
    0% { width: 1px; }
    100% { width: 35px; }
}

.btn.minus.active {
    display: block;
    animation: expand .8s forwards;
    transition: all .8s;
    width: 35px;
    background-color: red;
}

.btn.plus.active {
    display: block;
    animation: expand .8s forwards;
    transition: all .8s;
    width: 35px;
    background-color: lime;
}

.btn.disactive {
    transition: all .8s;
    content: "";
    width: 130px;
    background-color: var(--tg-theme-button-color);
}

@keyframes narrow {
    0% { width: 35px; }
    100% { width: 1px; }
}

.btn.minus.disactive {
    animation: narrow .8s forwards;
    transition: all .8s;
    width: 1px;
    display: none;
}

.btn.plus.disactive {
    animation: narrow .8s forwards;
    transition: all .8s;
    width: 1px;
    display: none;
}

.copyright {
    color: var(--tg-theme-link-color);
    display: block;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.copyright img {
    border-radius: 50%;
    vertical-align: middle;
    padding: 2px;
}
