* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: var(--tg-theme-text-color);
    user-select: none !important;
}

body {
    background-color: var(--tg-theme-bg-color);
}

.category {
    padding: 5px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center; 
    text-decoration: underline;
}

.container {
    max-width: 100%;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#inner_fortnite {
    grid-template-rows: repeat(4, 285px);
}

#inner_discord {
    grid-template-rows: repeat(2, 285px);
}

#inner_telegram {
    grid-template-rows: 235px;
}

.item {
    text-align: center;
}

.img_wrapper {
    display: inline-block;
    position: relative;
    text-align: center;
}

.img {
    border: none;
    border-radius: 12px;
}

.btn.disabled {
    background-color: red;
    cursor: not-allowed;
}

.name {
    position: absolute;
    bottom: 5px;
    color: var(--tg-theme-text-color);
    -webkit-text-stroke: .6px var(--tg-theme-bg-color);
    width: 100%;
    height: 25px;
    border: none;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 17px;
    font-weight: 800;
}

.price {
    padding: 4px;
    color: var(--tg-theme-text-color);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 130px;
    margin: auto;
}

.btn {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    height: 35px;
    width: 130px;
    position: relative;
    cursor: pointer;
}

#btn_Gift {
    width: 145px !important;
}

.btn-plus, .btn-minus {
    display: none;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    color: var(--tg-theme-button-text-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.btn-minus {
    background-color: red;
    margin-right: auto;
}

.btn-plus {
    background-color: lime;
    margin-left: auto;
}

.btn.active {
    transition: all .8s;
    content: "";
    width: 50px;
    background-color: var(--tg-theme-button-color-alpha);
    cursor: default;
}

#btn_Gift.active {
    transition: all .8s;
    width: 80px !important;
}

@keyframes expand {
    0% { width: 1px; }
    100% { width: 35px; }
}

.btn-minus.active {
    content: "";
    display: block;
    animation: expand .8s forwards;
    transition: all .8s;
    width: 35px;
}

.btn-plus.active {
    content: "";
    display: block;
    animation: expand .8s forwards;
    transition: all .8s;
    width: 35px;
}

.btn.passive {
    transition: all .8s;
    content: "";
    width: 130px;
    background-color: var(--tg-theme-button-color);
}

@keyframes narrow {
    0% { width: 35px; }
    100% { width: 1px; }
}

.btn-minus.passive {
    content: "";
    animation: narrow .8s forwards;
    transition: all .8s;
    width: 1px;
}

.btn-plus.passive {
    content: "";
    animation: narrow .8s forwards;
    transition: all .8s;
    width: 1px;
}

.copyright {
    color: var(--tg-theme-link-color);
    display: block;
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.copyright img {
    border-radius: 50%;
    vertical-align: middle;
    padding: 2px;
}